{% extends 'base.twig' %}
{% block content %}
<form class="col-md-6" ng-controller="KegCreate" ng-submit="postKegs()">
	<pre>Model: // newKeg | json //</pre>
	<h1>Add a keg!</h1>
	<input type="text" class="form-control" ng-model="newKeg.name" placeholder="Beer Name">
	<div class="input-group">
		<span class="input-group-addon">$</span>
		<input type="number" class="form-control" ng-model="newKeg.price" placeholder="Keg Price">
	</div>
	<select ng-init="newKeg.size = kegSizes[0].value" ng-model="newKeg.size" class="form-control">
		<option ng-repeat="size in kegSizes" value="// size.value //"> //size.label //</option>
	</select>
	<select ng-init="newKeg.pourSize = sizeOptions[0].value" ng-model="newKeg.pourSize" class="form-control">
		<option ng-repeat="size in sizeOptions" value="// size.value //"> //size.label //</option>
	</select>
	<input type="submit" class="form-control btn btn-primary">
    <script type="text/ng-template" id="ModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">// title //</h3>
        </div>
        <div class="modal-body">
			// msg //
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
        </div>
    </script>
</form>
{% endblock %}