{% block head %}
	{% include 'head.twig' %}
{% endblock %}
	<body class="{{page}}" data-source="{% block source %}base.twig{% endblock %}">
		{% block nav %}
			{% include 'nav.twig' %}
		{% endblock %}
		{% block content %}
<form class="col-md-6" ng-controller="KegCreate" ng-submit="postKegs()">
	<pre>Model: // newKeg | json //</pre>
	<h1>Let's add a keg!</h1>
	<input type="text" class="form-control" ng-model="newKeg.name" placeholder="Beer Name">
	<input type="number" class="form-control" ng-model="newKeg.abv" placeholder="6.5">
	<input type="text" class="form-control" ng-model="newKeg.type" placeholder="Type">
	<input type="submit" class="form-control btn btn-primary">
</form>
		{% endblock %}
		<footer id="footer">
			{% include 'footer.twig' %}
			{% block footer %}
			
			{% endblock %}
		</footer>
    </body>
</html>