{% block head %}
	{% include 'head.twig' %}
{% endblock %}
	<body class="{{page}}" data-source="{% block source %}base.twig{% endblock %}">
		{% block nav %}
			{% include 'nav.twig' %}
		{% endblock %}
		{% block content %}
			<div ng-controller="TypeaheadCtrl">
				<h4>Asynchronous results</h4>
				<pre>Model: //asyncSelected | json//</pre>
				<input type="text" ng-model="asyncSelected" placeholder="Locations loaded via $http" typeahead="item.name for items in getLocation($viewValue)" typeahead-loading="loadingLocations" class="form-control">
				<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
			</div>
		{% endblock %}
		<footer id="footer">
			{% include 'footer.twig' %}
			{% block footer %}
			
			{% endblock %}
		</footer>
    </body>
</html>