{% extends 'base.twig' %}
{% block content %}
<div class="row" ng-controller="KegList">
	<div class="col-sm-6 col-md-4" data-category="view" ng-repeat="keg in kegs">
		<div class="thumbnail" ng-controller="BuyShare" kid="// keg.id //">
			<div class="col-md-6 pull-right">
				<img class="img-responsive" src="// keg.label //">
				<input type="submit" class="btn btn-primary" value="Buy Shares" ng-click="buy()"></input>
			</div>			
			<h3>// keg.name //</h3>
			<p ng-hide="keg.description == 'undefined'">// keg.description // </p>
			<p ng-show="keg.style"><strong>Style:</strong> // keg.style // </p>
			<p ng-show="keg.abv"><strong>ABV:</strong> // keg.abv //% </p>				
			<p ng-show="keg.pour_size"><strong>Pour Size:</strong> // keg.pour_size //oz </p>
		</div>
	</div>
</div>
<script type="text/ng-template" id="ModalContent.html">
	<div class="modal-header">
		<h3 class="modal-title">// title //</h3>
	</div>
	<div class="modal-body">
		<div class="input-group col-sm-10">
			<span class="input-group-addon">$</span>
			<input type="number" class="form-control" ng-model="newKeg.price" placeholder="400">
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-secondary" ng-click="cancel()">Cancel</button>
		<button class="btn btn-primary" ng-click="buyKeg()">OK</button>
	</div>
</script>
{% endblock %}