{% extends "base.twig" %}
{% block content %}
<h1>Welcome To HopsEx: <small>The World's #1 Beer Marketplace</small></h1>
<h2>Please Login</h2>
<a href='{{authUrl}}' class='login-button'><img src='https://developers.google.com/+/images/branding/sign-in-buttons/White-signin_Medium_base_44dp.png' alt='Google Sign In'/></a>
{% endblock %}